export(optimize_params)
export(grid_search)
export(random_search)
export(bayesian_search)
export(narrow_param_space)
export(research_agent)
export(evaluate_model)
export(evaluate_script)
export(create_param_space)
export(param_numeric)
export(param_integer)
export(param_categorical)
export(new_results_log)
export(add_result)
export(best_result)
export(summarize_results)
export(save_results)
export(load_results)
export(plot_optimization)
export(with_time_budget)
export(set_seed_safely)
export(capture_metrics)
